<form [formGroup]="formG" (ngSubmit) = "updateInfo()">
    <div>
        <table>
            <tr>
                <th><label>Username </label></th>
                <th><label>Password </label></th>
                <th><label>Mobile </label></th>
                <th><label>Email </label></th>
                <th><label>Date of Birth </label></th>
                <th><label>Policy Start Date</label></th>
                <th><label>Policy End Date</label></th>
                <th><label>Salary</label></th>
                <th><label>Description</label></th>
            </tr>
            <td>
                <input type="text" formControlName="username" placeholder="Enter your Name" id = "username">
                <div *ngIf = "formG.get('username')?.['invalid'] && (formG.get('username')?.['dirty'] || formG.get('username')?.['touched'])">
                    <small *ngIf="formG.get('username')?.errors?.['required']">
                        Username is required.
                    </small>
                    <small *ngIf = "formG.get('username')?.errors?.['minlength'] || formG.get('username')?.errors?.['maxlength']">
                        Minimum of 4 characters and maximum of 12 characters.
                    </small>
                </div>
                <small *ngIf = "formG.get('username')?.errors?.['notUnique']">
                    Username already exists.
                </small>
            </td>
            <td>
                <input type="password" formControlName="password" placeholder="Enter your Password" id = "password">
                <div *ngIf = "formG.get('password')?.['invalid'] && (formG.get('password')?.['dirty'] || formG.get('password')?.['touched'])">
                    <small *ngIf="formG.get('password')?.errors?.['required']">
                        Password is required.
                    </small>
                    <small *ngIf = "formG.get('password')?.errors?.['pattern']">
                        Invalid password.
                    </small>
                </div>
            </td>
            <td>
                <input type="text" formControlName="mobile" placeholder="Enter your mobile" id = "mobile">
                <div *ngIf = "formG.get('mobile')?.['invalid'] && (formG.get('mobile')?.['dirty'] || formG.get('mobile')?.['touched'])">
                    <small *ngIf="formG.get('mobile')?.errors?.['required']">
                        Mobile number is required.
                    </small>
                    <small *ngIf = "formG.get('mobile')?.errors?.['pattern']">
                        Invalid Mobile number.
                    </small>
                </div>
            </td>
            <td>
                <input type="text" formControlName="email" placeholder="Enter your Email" id = "email">
                <div *ngIf = "formG.get('email')?.['invalid'] && (formG.get('email')?.['dirty'] || formG.get('email')?.['touched'])">
                    <small *ngIf="formG.get('email')?.errors?.['required']">
                        Email is required.
                    </small>
                    <small *ngIf = "formG.get('email')?.errors?.['email']">
                        Invalid Email.
                    </small>
                </div>
            </td>
            <td>
                <input type="text" formControlName="dateofBirth" placeholder="Enter your Date of Birth" id = "dateofBirth">
                <div *ngIf = "formG.get('dateofBirth')?.['invalid'] && (formG.get('dateofBirth')?.['dirty'] || formG.get('dateofBirth')?.['touched'])">
                    <small *ngIf="formG.get('dateofBirth')?.errors?.['required']">
                        Date of Birth is required.
                    </small>
                    <small *ngIf = "!(formG.get('dateofBirth')?.errors?.['required']) && formG.get('dateofBirth')?.errors?.['retVal']">
                        Invalid Date of Birth.
                    </small>
                </div>
            </td>
            <td>
                <input type="text" formControlName="policyStartDate" placeholder="YYYY-MM-DD" id="policyStartDate">
                <div *ngIf="formG.get('policyStartDate')?.['invalid'] && (formG.get('policyStartDate')?.['dirty'] || formG.get('policyStartDate')?.['touched'])">
                  <small *ngIf="formG.get('policyStartDate')?.errors?.['required']">
                    Policy Start Date is required.
                  </small>
                  <small *ngIf="!(formG.get('policyStartDate')?.errors?.['required']) && formG.get('policyStartDate')?.errors?.['retVal']">
                    Invalid Start Date format.
                  </small>               
              
                </div>
              </td>
            <td>
                <input type="text" formControlName="policyEndDate" placeholder="YYYY-MM-DD"  id ="policyEndDate">
                <div *ngIf = "formG.get('policyEndDate')?.['invalid'] && (formG.get('policyEndDate')?.['dirty'] || formG.get('policyEndDate')?.['touched'])">
                    <small *ngIf = "formG.get('policyEndDate')?.errors?.['required']">
                        Policy End Date is required.
                    </small>
                    <small *ngIf="!(formG.get('policyEndDate')?.errors?.['required']) && formG.get('policyEndDate')?.errors?.['retVal']">
                        Invalid End Date format.
                      </small>                            
                </div>
                <small *ngIf="!(formG.get('policyEndDate')?.errors?.['retVal']) && formG.errors?.['dateRangeInvalid'] && 
                      (formG.get('policyStartDate')?.touched 
                      || formG.get('policyEndDate')?.touched)">
                      End Date must be after Start Date.
            </small>       
            </td>
            <td>
                <input type="number"  placeholder="Enter your salary" formControlName="salary" id="salary">
                <div *ngIf = "formG.get('salary')?.['invalid'] && (formG.get('salary')?.['touched'] || formG.get('salary')?.['dirty'])">
                    <small *ngIf = "formG.get('salary')?.errors?.['required']">
                        Salary is required.
                    </small> 
                </div>
                <small *ngIf = "!(formG.get('salary')?.errors?.['required']) && formG.get('salary')?.errors?.['positiveInvalid']">
                    Salary should not be in negative.
                </small>
            </td>
            <td>
                <input
                  type="text"
                  id="description"
                  formControlName="description"
                  placeholder="Enter description"
                  autocapitalize="off"
                  (input)="formG.get('description')?.setValue(($any($event.target).value || '').toLowerCase())"
                />
              
                <div *ngIf="formG.get('description')?.invalid && (formG.get('description')?.dirty || formG.get('description')?.touched)">
                  <small *ngIf="formG.get('description')?.errors?.['required']">
                    Description is required.
                  </small>
                </div>
              </td>
        </table>
        <input type="submit" [disabled]="formG.invalid" value="Update">
    </div>
</form>