<input type="text" (input) = "searchValue($event)" placeholder="Enter Name | Id">
<table>
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Date of Birth</th>
        <th>Policy Start Date</th>
        <th>Policy End Date</th>
        <th>Salary</th>
        <th>Description</th>
        <th colspan="3">Action</th>
    </tr>
    <tr *ngFor = "let s of finalData$ | async">
        <td>{{s.username}}</td>
        <td>{{s.password}}</td>
        <td>{{s.mobile}}</td>
        <td>{{s.email}}</td>
        <td>{{s.dateofBirth}}</td>
        <td>{{s.policyStartDate}}</td>
        <td>{{s.policyEndDate}}</td>
        <td>{{s.salary}}</td>
        <td>{{s.description}}</td>
        <td><a routerLink = "/viewById/{{s.id}}">View</a></td>
        <td><a routerLink = "/deleteStudent/{{s.id}}">Delete</a></td>
        <td><a routerLink = "/updateStudent/{{s.id}}">Update</a></td>
        <!-- <td><input type="button" (click)="deleteRecord(s.id)" value="Delete"></td> -->
    </tr>
</table>